# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/

# Database
*.db
*.sqlite
*.sqlite3

# Logs
logs/*.log

# OS files
.DS_Store

# IDE
.vscode/
.idea/
